name: urbalytix

services:
  db-urbalytix:
    image: timescale/timescaledb-ha:pg17
    environment:
      POSTGRES_DB: urbalytix
      POSTGRES_USER: urbalytix
      POSTGRES_PASSWORD: urbalytix
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U urbalytix"]
      interval: 5s
      timeout: 60s
      retries: 30
    volumes:
      - db-urbalytix:/home/postgres/pgdata/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin:/var/lib/pgadmin
      - ./pgadmin/postgreslocal-servers-config.json:/pgadmin4/servers.json
    ports:
      - "5050:80"

volumes:
  pgadmin:
  db-urbalytix:
